.main__article {
  text-align: center;
  font-family: var(--ff-base);

  .main__recap {
    color: var(--clr-primary-cyan-600);
    // preset 3 (M)
    font-size: var(--fs-preset-3);
    font-weight: var(--fw-black);
    line-height: var(--lh-110);
    letter-spacing: var(--ls-loose);
  }
  .main__title {
    color: var(--clr-neutral-slate-900);
    margin-block: 16px 32px; // (M)
    // preset 2 (M)
    font-size: var(--fs-preset-2);
    font-weight: var(--fw-black);
    line-height: var(--lh-110);
    letter-spacing: var(--ls-none);
  }
  .main__description {
    color: var(--clr-neutral-slate-600);
    // preset 4 (M)
    font-size: var(--fs-preset-4);
    font-weight: var(--fw-medium);
    line-height: var(--lh-110);
    letter-spacing: var(--ls-none);
  }
}
