.footer {
    
    display: grid;
    place-items: center;
    
    font-family: var(--ff-base);
    line-height: var(--lh-110);
    letter-spacing: var(--ls-none);

    background-image: url("../images/mobile/image-footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
        
    
    position: relative;
    &::before {
        position: absolute;
        content: '';
        top:0;
        left: 0;
        width: 100%;
        height:100%;
        opacity: 0.8;
        background-color: var(--clr-primary-cyan-600);
    } 
    & > * {
        z-index: 1;
    }
    .footer__article {
        padding: 64px 32px;
        text-align: center;
        color: var(--clr-basic-white);
    }
    .footer__title {
        // preset 2 (MTD)
        font-size: var(--fs-preset-2);
        font-weight: var(--fw-black);

        // white
    }
    .footer__description {
           // preset 4 (MTD)
        font-size: var(--fs-preset-4);
        font-weight: var(--fw-medium);
       
        // white
    }
    .footer__cta {
        // preset 5 (MTD)
        font-size: var(--fs-preset-5);
        font-weight: var(--fw-black);
        line-height: var(--lh-150);
       
        // white 
    }
}