.footer {
  --overlay: 192, 37%, 48%;

  display: grid;
  place-items: center;

  font-family: var(--ff-base);
  line-height: var(--lh-110);
  letter-spacing: var(--ls-none);

  background-image: linear-gradient(
      hsla(var(--overlay), 0.85),
      hsla(var(--overlay), 0.85)
    ),
    url("../images/mobile/image-footer.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;

  margin-block-start: calc(80px + calc(56px / 2));

  .section__separator {
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translateY(-50%);
    height: 56px;
    width: 56px;
    display: grid;
    place-items: center;
    border: 1px solid var(--clr-neutral-slate-300);
    border-radius: 50%;
    // preset 5
    font-size: var(--fs-preset-5);
    font-weight: var(--fw-black);
    line-height: var(--lh-150);
    letter-spacing: var(--ls-none);
    color: var(--clr-neutral-slate-600);
    background-color: var(--clr-basic-white);
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 80px;
      top: 0;
      left: 50%;
      background-color: var(--clr-neutral-slate-300);
      transform: translate(-50%, -100%);
    }
  }

  .footer__article {
    --article-gap: var(--spacing-300); // 24px (MT)
    padding: var(--spacing-800) var(--spacing-400); // 64px 32px (MT)
    padding-block-start: calc(64px - 56px);
    display: grid;
    gap: var(--article-gap);
    place-items: center;
    text-align: center;
    color: var(--clr-basic-white);
    max-width: 65%;
  }
  @media (min-width: 90rem) {
    .footer {
        background-image: linear-gradient(
      hsla(var(--overlay), 0.85),
      hsla(var(--overlay), 0.85)
    ),
    url("../images/desktop/image-footer.jpg");
    }
    .footer__article {
      --article-gap: var(--spacing-400); // 32px (D)
      padding: 0;
      margin: var(--spacing-1400) var(--spacing-1000); // 112px 80px; (D)
      margin-block-start: calc(112px - 56px);
      text-align: left;
      align-items: center;

      grid-template-columns: 1fr 355px 256px;

      .footer__cta {
        justify-self: end;
      }
    }
  }
  .footer__title {
    // preset 2 (MTD)
    font-size: var(--fs-preset-2);
    font-weight: var(--fw-black);
  }
  .footer__description {
    // preset 4 (MTD)
    font-size: var(--fs-preset-4);
    font-weight: var(--fw-medium);
  }
  .footer__cta {
    // preset 5 (MTD)
    font-size: var(--fs-preset-5);
    font-weight: var(--fw-black);
    line-height: var(--lh-150);

    border-radius: 29px; //(M)
    padding: var(--spacing-200) var(--spacing-500); // 16px 40px; //(M)

    border: 0;
    outline: 0;
    color: var(--clr-basic-white);
    background-color: var(--clr-primary-purple-600);

    .version {
      color: var(--clr-secondary-purple-300);
    }

    &:hover,
    &:focus {
      background-color: hsl(268, 55%, 71%);
    }
  }
}