.main {
  --padding-inline: var(--spacing-400); // 32px
  --padding-bottom: var(--spacing-800); // 64px;
  padding: var(--padding-inline); // (M)
  padding-block-end: var(--padding-bottom); // (M)
  font-family: var(--ff-base);

  display: grid;
  place-items: center;
  gap: var(--spacing-800); // (MTD)

}

@media (min-width: 48rem) {
  .main {
    // Padding T: 56px 32px 64px 32px
    padding-block-start: var(--spacing-700); // 56px
  }
}
@media (min-width: 90rem) {
  .main {
    --padding-inline: var(--spacing-1000); // 80px
    --padding-bottom: var(--spacing-900); // 72px;
    // Padding D: 56px 80px 72px 80px
  }
}
.section__separator {
  height: 56px;
  width: 56px;
  display: grid;
  place-items: center;
  border: 1px solid var(--clr-neutral-slate-300);
  border-radius: 50%;
  // preset 5
  font-size: var(--fs-preset-5);
  font-weight: var(--fw-black);
  line-height: var(--lh-150);
  letter-spacing: var(--ls-none);
  color: var(--clr-neutral-slate-600);
  position: relative;
  margin-block-start: 80px;
  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 80px;
    top: 0;
    left: 50%;
    background-color: var(--clr-neutral-slate-300);
    transform: translate(-50%, -100%);
  }
}

.main__collage {
    --grid-gap: var(--spacing-200); // 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap);
}
@media (min-width: 48rem) {
  .main__collage {
    --grid-gap: var(--spacing-300); // 24px
    grid-template-columns: repeat(4, 1fr);
 
  }
}
@media (min-width: 90rem) {
  .main__collage {
    --grid-gap: var(--spacing-400);//32px;
   
  }
  .main__collage-item img {
    border-radius: 8px;
  }
}

.main__article {
  text-align: center;
  max-width: 34rem;

  .main__recap {
    color: var(--clr-primary-cyan-600);
    text-transform: uppercase;
    // preset 3 (MTD)
    font-size: var(--fs-preset-3);
    font-weight: var(--fw-black);
    line-height: var(--lh-110);
    letter-spacing: var(--ls-loose);
  }
  .main__title {
    color: var(--clr-neutral-slate-900);
    margin-block: var(--spacing-200) var(--spacing-400); // (MTD) 16px 32px
    // preset 2 (MTD)
    font-size: var(--fs-preset-2);
    font-weight: var(--fw-black);
    line-height: var(--lh-110);
    letter-spacing: var(--ls-none);
  }
  .main__description {
    color: var(--clr-neutral-slate-600);
    // preset 4 (MTD)
    font-size: var(--fs-preset-4);
    font-weight: var(--fw-medium);
    line-height: var(--lh-110);
    letter-spacing: var(--ls-none);

  }
}
